.laser-cutting-container {
  margin: 0 auto;
  max-width: 1200px;
  margin-top: 20rem;
  margin-bottom: 10rem;
}

.laser-cutting-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  background-color: #f7f7f7;
}

.laser-cutting-text {
  width: 50%;
  padding: 20px;
}

.laser-cutting-text h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.laser-cutting-text p {
  font-size: 16px;
  margin-bottom: 20px;
}

.specification {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.spec-items {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.spec-items:last-child {
  border-bottom: none;
}

.spec-title {
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  margin-bottom: 0;
}

.spec-items div {
  display: flex;
  flex-direction: column;
}

.spec-items p {
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
  padding-left: 10px;
}

.laser-cutting-image {
  width: 50%;
  padding: 20px;
}

.laser-cutting-image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.capacity p {
  margin-left: 4.5rem;
}

.files p {
  margin-left: 5.5rem;
}
