.body-contener {
  margin: 0 auto;
  max-width: 1850px;
  margin-top: 10rem;
  margin-bottom: 3rem;
  background-color: #f5f5f5;
  border-radius: 20px;
  height: 123.5rem;
  padding-top: 40px;
}

.path-section-services {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 300px;
  margin-left: 2rem;
  height: 5rem;
}

.subheader {
  display: flex;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 20px;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 5rem;
}

.title-specifications p {
  padding-right: 118px;
  padding-left: 9rem;
  border-right: 1px solid #ddd;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  font-family: "Raleway", sans-serif;
}

.service-title p {
  margin-left: 2.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: #d10101;
  font-family: "Raleway", sans-serif;
}

.service-text p {
  margin-right: 2rem;
  line-height: 2rem;
}

.service-item {
  display: flex;
  align-items: flex-start;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  margin-bottom: 7rem;
  margin-left: 2rem;
  margin-right: 2rem;
  height: 27.5rem;
  margin-top: 2.27rem;
}

.specifications li.with-offset-border-3d {
  position: relative;
  padding-right: 9.5rem; /* espace pour la fausse bordure */
}

.specifications-pliage li.with-offset-border-pliage {
  position: relative;
  padding-right: 0.7rem;
}

.specifications-pliage {
  padding-bottom: 13rem;
}

.specifications {
  padding-right: 60px;
  border-right: 1px solid #ddd;
  font-size: 1.2rem;
  padding-bottom: 9rem;
}

.specifications-2d {
  padding-right: 60px;
  border-right: 1px solid #ddd;
  font-size: 1.2rem;
}

.specifications li {
  list-style-type: none;
  line-height: 4.5rem;
}

.specifications-2d li {
  list-style-type: none;
  line-height: 4.5rem;
}

.specifications-pliage {
  padding-right: 81px;
  border-right: 1px solid #ddd;
  font-size: 1.2rem;
}

.specifications-pliage li {
  list-style-type: none;
  line-height: 4.5rem;
}

.title-specification-mobile {
  display: none;
}

.animated-number {
  font-weight: bold;
  font-size: 1.3rem;
}

.service-text {
  flex: 1;
  margin-left: 2rem;
  font-size: 1.2rem;
  margin-right: 2rem;
}

.service-text h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.service-image {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-container {
  width: 35%;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  z-index: 100;
}

.carousel-image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  z-index: 100;
}

@media screen and (max-width: 1024px) {
  .body-contener {
    margin-top: 6rem;
    margin-bottom: 2rem;
    height: auto;
  }

  .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 1rem 0;
    height: auto;
  }

  .subheader {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 20px;
    height: 5rem;
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .title-specification-mobile {
    order: 3;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 20px;
    height: 5rem;
    padding: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .service-title {
    order: 1;
    margin-left: 0rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
  }

  .carousel-container {
    order: 2;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .carousel-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .service-text {
    order: 3;
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  .specifications {
    order: 5;
    border-right: none;
    padding: 0;
    font-size: 1rem;
    margin-top: 10px;
    margin-right: -2rem;
  }

  .specifications-2d {
    order: 5;
    border-right: none;
    padding: 0;
    font-size: 1rem;
    margin-top: 10px;
  }

  .specifications-pliage {
    order: 5;
    border-right: none;
    padding: 0;
    font-size: 1rem;
    margin-top: 10px;
  }

  .title-specifications {
    display: none;
  }

  .specifications li {
    line-height: 2rem;
    text-align: left;
  }

  .specifications li {
    line-height: 2rem;
    text-align: left;
  }

  .animated-number {
    font-size: 1.2rem;
    text-align: left;
    display: inline-block;
    text-align: left;
  }

  .specifications li {
    text-align: left;
    line-height: 4rem;
  }
}

@media (max-width: 768px) {
  .body-contener {
    margin-top: 6rem;
    margin-bottom: 2rem;
    height: auto;
  }

  .service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 1rem 0;
    height: auto;
  }

  .subheader {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 20px;
    height: 5rem;
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .title-specification-mobile {
    order: 3;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 20px;
    height: 5rem;
    padding: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .service-title p {
    margin-left: 0;
    font-size: 1.8rem;
  }

  .service-title {
    order: 1;
    margin-left: 0rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
  }

  .service-text p {
    order: 2;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 1rem;
    margin-left: 1.2rem;
  }

  .carousel-container {
    order: 2;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .carousel-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .service-text {
    order: 3;
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem 0;
  }

  .specifications {
    order: 5;
    border-right: none;
    padding: 0;
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
  }

  .title-specifications {
    display: none;
  }

  .specifications li {
    line-height: 2rem;
    text-align: center;
  }

  .animated-number {
    font-size: 1.2rem;
    text-align: left;
    display: inline-block;
  }

  .specifications li {
    text-align: left;
    line-height: 4rem;
  }
}
