@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.body-entreprise {
  padding: 20px;
  background-color: #f4f4f4;
  color: #333;
  font-family: Arial, sans-serif;
  margin-top: 10rem;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.left-side {
  flex: 1;
}

.company-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.right-side {
  flex: 1;
  padding-left: 20px;
}

.right-side h1 {
  color: #e60000;
  font-size: 2.5em;
}

.right-side h2 {
  color: black;
  font-size: 1.2em;
  margin-top: 10px;
}

.right-side h3 {
  color: #333;
  font-weight: bold;
  margin-bottom: 3rem;
}

.right-side p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 8rem;
}

.cta-button {
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  text-decoration: none;
  transition: background-color 0.3s;
  display: flex;
  margin-right: 45rem;
}

.cta-button:hover {
  background-color: #333;
  color: #fff;
  transform: scale(1.05);
}

.prestations-section {
  text-align: center;
  background-color: #ccc;
  padding: 40px 20px;
  border-radius: 8px;
}

.prestations-section h2 {
  margin-bottom: 30px;
  font-size: 2em;
  color: black;
}

.prestations {
  display: flex;
  justify-content: space-around;
}

.prestation-item {
  background-color: #555;
  color: white;
  padding: 20px;
  width: 200px;
  text-align: center;
  border-radius: 8px;
}

.prestation-item h3 {
  margin-bottom: 15px;
}

.plus-button {
  font-size: 1.5em;
  color: white;
  background-color: black;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.plus-button:hover {
  background-color: #e60000;
}
