/* Styles globaux (Desktop par défaut) */
@font-face {
  font-family: "Switzer-Regular";
  src:
    url("../assets/Fonts/Switzer-Regular.woff2") format("woff2"),
    url("../assets/Fonts/Switzer-Regular.woff") format("woff"),
    url("../assets/Fonts/Switzer-Regular.eot") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../assets/Fonts/Raleway-Black.ttf") format("truetype");
  font-weight: 900; /* Normal */
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Switzer-Regular";
}

.bodyhome {
  background-color: #fff;
}

.services-container {
  background-color: #f5f5f5;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.intro-container {
  border-bottom: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  margin-top: 10rem;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 20px;
  height: 40rem;
}

.text-section {
  flex: 1;
  padding-right: 2rem;
  margin-bottom: 8rem;
}

.text-section h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: #2b2525;
  font-family: "Raleway", sans-serif;
}

.text-section h2 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #444;
  font-family: "Raleway", sans-serif;
}

.text-section .highlight {
  color: #d10101;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}

.text-section h2:last-child {
  margin-bottom: 200rem; /* Applique un margin-bottom uniquement au dernier h2 */
}

.scrolldown {
  height: auto;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  position: relative; /* Permet de déplacer l'élément */
  top: 4rem;
}

.scrolldown:hover {
  opacity: 1;
}

.video-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-video {
  width: 120%;
  max-width: 1500px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-right: 8rem;
}

.services-title {
  color: #2b2525;
  font-family: "Raleway", sans-serif;
  font-size: 2.5rem;
  margin: 2rem 0;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 10rem;
}

/* Nouvelles cards */

.cards-container {
  background-color: #f4f4f4;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ddd;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 40px;
  padding: 30px;
  margin-bottom: 5rem;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  position: relative;
  border-radius: 10px;
}

.card-container::before {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.card {
  flex: 1;
  margin: 0 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 450px;
  border-radius: 20px;
  position: relative;
}

.card .img-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    scale 0.6s,
    rotate 0.6s,
    filter 1s;
}

.card .img-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover .img-content {
  scale: 3.5;
  rotate: 30deg;
  filter: blur(10px);
}

.heading {
  color: #0078d7;
  font-family: "Raleway", sans-serif;
}

.card .content {
  position: absolute;
  top: 0;
  width: 80%;
  height: 100%;
  gap: 10px;
  color: #ffffff;
  padding: 20px;
  line-height: 1.5;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(50px);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card .content .heading {
  font-size: 32px;
  font-weight: 700;
}

.card:hover .content {
  opacity: 1;
  transform: translateY(0);
}

.card:hover .img-content {
  scale: 3.5;
  rotate: 30deg;
  filter: blur(10px);
}

.button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 20px;
  margin-left: 5rem;
  transform: translateX(0) translateY(20px);
  opacity: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  z-index: 2;
}

.card:hover .button-container {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

.discover-button {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  text-decoration: none;
  background: #2b2525;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  transition:
    background 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}

.discover-button:hover {
  background: #d10101;
  transform: scale(1.1);
}

.MainContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Espacement entre les conteneurs */
  margin: 20px;
}

/* Conteneur principal */
.ContainerREntreprendre {
  background-color: #c00;
  color: white;
  padding: 40px;
  border-radius: 20px;
  max-width: 1500px; /* Vous pouvez ajuster cette largeur max si nécessaire */
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box; /* Assurez-vous que le padding ne fait pas déborder le conteneur */
}

.ContentREntreprendre h2 {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
}

.ContentREntreprendre p {
  font-size: 16px;
  margin-bottom: 20px;
}

.buttonEntreprendre {
  display: inline-block;
  text-decoration: none;
  background: white;
  color: #c00;
  padding: 10px 20px;
  margin-top: 4rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.buttonEntreprendre:hover {
  background-color: #fff3f3;
}

.logoEntreprendre img {
  max-width: 150px; /* Ne touche pas à la taille du logo */
  border-radius: 5px;
}

/* Conteneur pour la map et le texte */
.ContainerMap {
  background-color: #f4f4f4;
  display: flex;
  max-width: 50%; /* Limite la largeur de .ContainerMap à 50% */
  align-items: center;
  gap: 20px;
  padding: 30px;
  border-radius: 20px;
  box-sizing: border-box; /* Assurez-vous que le padding ne fait pas déborder le conteneur */
  word-wrap: break-word; /* Force le texte à sauter à la ligne pour éviter le débordement */
  overflow-wrap: break-word;
}

.callToAction {
  flex: 1;
  text-align: left;
  word-wrap: break-word; /* Ajouté ici pour le texte dans .callToAction */
  overflow-wrap: break-word; /* Ajouté ici pour le texte dans .callToAction */
  white-space: normal; /* Permet au texte de sauter à la ligne */
}

.map iframe {
  border-radius: 10px;
  width: 400px;
  height: 300px;
  border: none;
}

.callToAction h3 {
  font-size: 22px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
}

.callToAction p {
  font-size: 16px;
  margin-bottom: 20px;
  line-height: 1.5rem;
}

.ctbutton {
  display: inline-block;
  text-decoration: none;
  background: #333;
  color: white;
  padding: 10px 20px;
  margin-top: 7rem;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-family: "Raleway", sans-serif;
}

.ctbutton:hover {
  background-color: #a00;
}

@media screen and (max-width: 1024px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header h1 {
    font-size: 3rem;
    margin: 1rem;
  }

  .header h2 {
    font-size: 2rem;
    margin: 1rem;
  }

  .header-images img {
    max-width: 80%;
  }

  .card-container {
    flex-wrap: wrap;
  }

  .card {
    flex: 1 1 calc(50% - 20px);
  }
}

/* Mobile (écrans < 768px) */
@media screen and (max-width: 768px) {
  .text-content h1,
  .text-content h2 {
    overflow: visible;
  }

  .header h1 {
    font-size: 2.5rem;
    margin-left: -3rem;
    margin-top: 3rem;
  }

  .header h2 {
    font-size: 1.8rem;
    margin-left: -3rem;
  }

  .header-images img {
    max-width: 100%;
    margin: 0rem;
  }

  .services-title {
    font-size: 1.5rem;
    margin: 1.5rem 0;
  }

  .card {
    margin-bottom: 2rem;
    flex: 1 1 100%;
  }
  .intro-container {
    flex-direction: column;
    text-align: center;
  }

  .text-section {
    padding: 0;
    margin-bottom: 2rem;
  }

  .header-video {
    max-width: 100%;
  }
  .MainContainer {
    flex-direction: column;
  }
  .ContainerREntreprendre {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ContentREntreprendre {
    margin-bottom: 20px;
  }

  .logoEntreprendre img {
    max-width: 100px;
  }
}
