@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.services-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem 0;
  margin-top: 3rem;
}

.header .text-content {
  max-width: 60%;
}

.header h1 {
  font-size: 3rem;
  color: black;
  line-height: 1.3;
  margin-left: 10rem;
  margin-top: 10rem;
}

.header h2 {
  font-size: 2.5rem;
  color: black;
  margin-left: 10rem;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

.header .highlight {
  color: #d10101;
  font-weight: bold;
}

.header-images {
  display: flex;
  justify-content: flex-end;
}

.header-images img {
  width: 100%;
  max-width: 80rem;
  border-radius: 8px;
  margin-top: 10rem;
  margin-right: 8rem;
}

.scrolldown {
  display: flex;
  justify-content: center;
  opacity: 0.7;
}

.services-title {
  font-size: 2rem;
  margin: 2rem 0;
  text-align: center;
  margin-top: 15rem;
  margin-bottom: 10rem;
}

.service-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 20rem;
  margin-right: 20rem;
  height: 30rem;
}

.service-card img {
  width: 50%;
  object-fit: cover;
}

.service-content {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.service-content p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}

.service-content nav {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-right: 28rem;
  margin-bottom: 1rem;
}

.service-content nav.arrow {
  margin-left: 5px;
}

.service-content nav a {
  text-decoration: none;
  color: #000;
}

.service-content nav a:hover {
  color: #fff;
}

.service-content nav:hover {
  background-color: #333;
  color: white;
}

.service-card.laser .service-content {
  background-color: rgba(0, 0, 0, 0.7);
}

.service-card.laser nav a {
  color: #000;
}

.service-card.pliage .service-content {
  background-color: #e6f0f5;
  color: black;
}

.service-card.pliage img {
  height: 45rem;
}

.service-card.laser3d img {
  height: 30rem;
}

.service-card.pliage nav {
  background-color: black;
  color: white;
}

.service-card.pliage nav a {
  color: #fff;
}

.service-card.pliage nav:hover {
  background-color: #444; /* Change background color on hover */
}
