@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

.footer {
  background-color: #fff;
  padding-left: 10px;
  height: 10vh;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footer-content {
  display: flex;
  width: 100%;
}

.logofooter {
  height: 60px;
  margin: 0.8rem;
}

.textfooter {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.lienmentionslegales {
  margin-left: 0.5rem;
  color: black;
}
