@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  font-family: Poppins;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  z-index: 100;
  height: 10vh;
}

.rounded-img {
  top: 0;
}

.Header a {
  font-size: 2vh;
  color: #000000;
  font-weight: 500;
  margin-left: 8rem;
  text-decoration: none;
  color: #000;
  left: 10rem;
}

.HeaderNavlink :hover {
  color: #321919;
  transform: scale(1.05);
}

.contactbtn {
  position: relative;
}

.navbar {
  position: relative;
  font-size: 1rem;
  left: 1rem;
}

.contactbtn {
  background-color: #bc1a1a;
  border-radius: 20px;
  padding: 0.5rem 1.2rem;
}
