@font-face {
  font-family: "Switzer-Regular";
  src:
    url("../assets/fonts/Switzer-Regular.woff2") format("woff2"),
    url("../assets/fonts/Switzer-Regular.woff") format("woff"),
    url("../assets/fonts/Switzer-Regular.eot") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

* {
  font-family: "Switzer-Regular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  height: 12vh;
  padding-top: 2vh;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.rounded-img {
  width: 2vh;
  height: 38vh;
  border-radius: 50%;
  scale: 0.4;
  margin-top: 1vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.Header .navbar a {
  font-size: 2vh;
  color: #000000;
  font-weight: 500;
  margin-left: 2rem;
  text-decoration: none;
  transition:
    color 0.3s,
    transform 0.3s;
  display: flex;
  align-items: center;
}

.navbar a:hover {
  color: #d10101;
}

.contactbtn {
  background-color: #333;
  border-radius: 20px;
  padding: 0.5rem 1.2rem;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.contactbtn:hover {
  background-color: #333;
  color: #fff;
  transform: scale(1.02);
}

@media (max-width: 1024px) {
  .Header a {
    margin-left: 1rem;
    font-size: 1.8vh;
  }

  .Header {
    padding: 1rem;
  }

  .rounded-img {
    margin-right: 10vh;
    margin-left: -5vh;
    scale: 0.3;
  }
}

@media (max-width: 768px) {
  .Header a {
    font-size: 1.6vh;
    margin-left: 0.5rem;
  }

  .Header {
    flex-direction: row;
    height: auto;
    padding: 1rem;
    justify-content: space-between;
  }

  .rounded-img {
    display: none;
  }

  .contactbtn {
    font-size: 0.9rem;
    padding: 0.4rem 1rem;
  }
}

@media (max-width: 480px) {
  .Header a {
    font-size: 1.4vh;
    margin-left: 0;
  }

  .Header {
    padding: 0.5rem;
    height: auto;
  }

  .contactbtn {
    font-size: 0.8rem;
    padding: 0.3rem 0.8rem;
  }
}
