.container-central {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 15rem;
  margin-bottom: 10rem;
}

.mentions-legales {
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.mentions-legales h2 {
  font-size: 18px;
  margin-top: 0;
  font-family: "Raleway", sans-serif;
}

.mentions-legales h3 {
  font-size: 18px;
  margin-top: 0;
  font-family: "Raleway", sans-serif;
}

.mentions-legales p {
  margin-bottom: 20px;
}

.mentions-legales a {
  text-decoration: none;
  font-weight: bold;
  color: #0073e6;
}

.mentions-legales a:hover {
  color: #23527c;
}

footer {
  margin-top: 10rem;
}
